.form-container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-group{
    text-align: right;
    padding: 10px;
}
.form-group-button{
    
    padding: 10px;
    text-align: center;
    margin-left: 3rem;
}
button{
    outline: none;
    
}
.submitted{
    font-style: bold;
    font-weight: 800;
    height: 50px;
    text-shadow: 2px 2px 2px black;
    border: 2px solid white;
    background-color: rgb(195, 236, 81);
    text-align: center;
    
}
span{
    color: red;
    display: flex;
    justify-content: center;
}
